<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="shortcut icon" type="image/x-icon" href="../static/img/profile.ico">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <title>PG</title>

</head>
<body>

    <i class="bi bi-list menu-mobile"></i>

    <aside id="header">
        <section class="profile">
            <img src="https://i.pinimg.com/564x/59/34/61/593461735f7a116fe602c0e15459d9e1.jpg" alt="Foto de Perfil">
            <h1>Nome Sobrenome</h1>
            <div class="social-links mt-4 text-center">
                <a target="_blank" href="https://www.linkedin.com">
                    <i class="bi bi-linkedin"></i>
                </a>
                <a  target="_blank" href="https://github.com">
                    <i class="bi bi-github"></i>
                </a>

            </div>
        </section>
        
        <nav id="navbar" class="nav-menu">
            <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#inicio"> <i class="bi bi-house"></i> Início</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#sobre"> <i class="bi bi-person"></i> Sobre</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#habilidades"> <i class="bi bi-list-check"></i> Habilidades</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#curriculo"> <i class="bi bi-file-earmark"></i> Currículo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#portfolio"> <i class="bi bi-collection"></i> Portfólio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contato"> <i class="bi bi-envelope"></i> Contato</a>
                </li>
              </ul>
        </nav>

    </aside>

    <main id="main">
        
        <section id="inicio" class="row m-0 p-0">
            <div class="col-md-5 d-flex justify-content-center align-items-center flex-column">
                <h2 class="text-white text-shadow">Nome Sobrenome</h2>
                <span id="subtitle" class="text-white text-shadow">Função</span>
            </div>

            <div class="col-md-7 d-flex justify-content-end align-items-end">
                <div id="arraste" class="d-flex align-items-center">
                    <i class="bi bi-arrow-down text-white pe-2 fs-2" aria-hidden="true"></i>
                    <a href="#sobre">Arraste para mais</a>
                </div>
            </div>
        </section>

        <section id="sobre" class="container mt-5">
            <div class="row w-100">
                <div class="col-md-12">
                    <h2 class="pt-3">Sobre</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi imperdiet quis nisi et commodo. Nam lacinia laoreet nunc, id finibus arcu molestie ac. Fusce malesuada pretium arcu ac accumsan. Ut molestie sollicitudin nibh ac egestas. Curabitur at faucibus odio. Fusce non justo facilisis, lobortis tellus a, ultrices massa. Nulla vitae imperdiet turpis. Morbi quis dolor ac lorem auctor facilisis rhoncus eu augue. Aenean bibendum augue felis, a suscipit sem vehicula non. Nullam nibh diam, blandit et ultricies at, dapibus ut urna. Mauris non urna quis massa eleifend imperdiet et eu leo. Cras venenatis, leo eget sollicitudin accumsan, ex lacus pretium lacus, id molestie augue arcu non libero. Nullam eu est nulla.</p> 
                    <p>Mauris eu ultrices libero. Quisque porttitor ultrices risus, nec ultrices elit blandit sed. Ut rutrum tortor eget ipsum molestie pulvinar. Vivamus gravida justo nec nulla mattis, ac laoreet odio molestie. Donec vitae viverra mi, nec laoreet diam. Etiam sem elit, euismod sed elementum et, tristique et neque. Cras et ipsum tincidunt tellus feugiat sagittis. Ut non turpis ac mi euismod pharetra id a nisi.</p>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-md-4">
                    <img class="img-fluid shadow" src="https://kanto.legiaodosherois.com.br/w1200-q95-k1/wp-content/uploads/2022/06/legiao_1qFLnw3kdQlH.jpg.webp", alt="Foto Paulo">
                </div>

                <div class="col-md-8">
                    <h3>Função</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi imperdiet quis nisi et commodo. Nam lacinia laoreet nunc, id finibus arcu molestie ac.</p>

                    <div class="row mt-3 mb-3">
                        <div class="col-md-6">
                            <ul class="list-group list-group-flush fs-6">
                                <li class="list-group-item">
                                    Niver: <span class="fw-lighter"> DD de Mês de YYYY</span>

                                </li>
                                <li class="list-group-item">
                                    Idade: <span class="fw-lighter"> XX anos</span>

                                </li>
                                <li class="list-group-item">
                                    Cidade: <span class="fw-lighter">Cidade</span>
                                </li>
                                <li class="list-group-item">
                                    Estado: <span class="fw-lighter">UF</span>
                                </li>
                              </ul>
                        </div>

                        <div class="col-md-6">
                            <ul class="list-group list-group-flush fs-6">
                                <li class="list-group-item">
                                    Hobby: <span class="fw-lighter">LOREM IPSUM</span>

                                </li>
                                <li class="list-group-item">
                                    Site: <span class="fw-lighter">LOREM</span>

                                </li>
                                <li class="list-group-item">
                                    Trabalho: <span class="fw-lighter">Função</span>
                                </li>
                                <li class="list-group-item">
                                    Experiência: <span class="fw-lighter">Xa</span>
                                </li>
                              </ul>
                        </div>
                    </div>

                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi imperdiet quis nisi et commodo. Nam lacinia laoreet nunc, id finibus arcu molestie ac.</p>

                </div>
            </div>
        </section>

        <section id="habilidades" class="mt-5 section-bg">
            
            <div class="container pb-5">
                <h2 class="pt-5">Habilidades</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

                <div class="row">
                    <div class="col-md-6">
                        <p class="mt-3 mb-0">Python</p>
                        <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 50%"></div>
                        </div>
                        <p class="mt-3 mb-0">Python</p>
                        <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 50%"></div>
                        </div>
                        <p class="mt-3 mb-0">Python</p>
                        <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 50%"></div>
                        </div>
                        <p class="mt-3 mb-0">Python</p>
                        <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 50%"></div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <p class="mt-3 mb-0">Python</p>
                        <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 50%"></div>
                        </div>
                        <p class="mt-3 mb-0">Python</p>
                        <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 50%"></div>
                        </div>
                        <p class="mt-3 mb-0">Python</p>
                        <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 50%"></div>
                        </div>
                        <p class="mt-3 mb-0">Python</p>
                        <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 50%"></div>
                        </div>
                    </div>
                </div>

                <hr class="w-50 me-auto ms-auto mb-0">

                <div class="row">
                    <div class="col-md-6">
                        <p class="mt-3 mb-0">Python</p>
                        <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 50%"></div>
                        </div>
                        <p class="mt-3 mb-0">Python</p>
                        <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 50%"></div>
                        </div>
                        <p class="mt-3 mb-0">Python</p>
                        <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 50%"></div>
                        </div>
                        <p class="mt-3 mb-0">Python</p>
                        <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 50%"></div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <p class="mt-3 mb-0">Python</p>
                        <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 50%"></div>
                        </div>
                        <p class="mt-3 mb-0">Python</p>
                        <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 50%"></div>
                        </div>
                        <p class="mt-3 mb-0">Python</p>
                        <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 50%"></div>
                        </div>
                        <p class="mt-3 mb-0">Python</p>
                        <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 50%"></div>
                        </div>
                    </div>
                </div>

            </div>
        </section>

        <section id="curriculo" class="mt-5 cv">
            
            <div class="container pb-5">
                <h2 class="pt-3 pb-4">Currículo</h2>

                <div class="row">
                    <div class="col-md-6">
                        <h3 class="cv-title">Profissional</h3>

                        <div class="cv-item">
                            <h5>Nome da exp</h5>
                            <h6>Data/Período</h6>
                            <p><em>Instituição/empresa</em></p>
                            <p>Descrição Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>

                        <div class="cv-item">
                            <h5>Nome da exp</h5>
                            <h6>Data/Período</h6>
                            <p><em>Instituição/empresa</em></p>
                            <p>Descrição Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>

                        <div class="cv-item">
                            <h5>Nome da exp</h5>
                            <h6>Data/Período</h6>
                            <p><em>Instituição/empresa</em></p>
                            <p>Descrição Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h3 class="cv-title">Educação</h3>
                        
                        <div class="cv-item">
                            <h5>Nome da exp</h5>
                            <h6>Data/Período</h6>
                            <p><em>Instituição/empresa</em></p>
                            <p>Descrição Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>

                        <div class="cv-item">
                            <h5>Nome da exp</h5>
                            <h6>Data/Período</h6>
                            <p><em>Instituição/empresa</em></p>
                            <p>Descrição Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>

                        <div class="cv-item">
                            <h5>Nome da exp</h5>
                            <h6>Data/Período</h6>
                            <p><em>Instituição/empresa</em></p>
                            <p>Descrição Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>

                    </div>
                </div>
            </div>
        </section>

        <section id="portfolio" class="mt-5 section-bg">
            <div class="container pb-5 pt-5">
                <h2 class="pb-4">Portfolio</h2>

                <div id="carouselPortfolio" class="carousel carousel-dark slide">
                    <div class="carousel-indicators">
                      <button type="button" data-bs-target="#carouselPortfolio" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                      <button type="button" data-bs-target="#carouselPortfolio" data-bs-slide-to="1" aria-label="Slide 2"></button>
                      <button type="button" data-bs-target="#carouselPortfolio" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                      <div class="carousel-item active" data-bs-interval="10000">
                        <div class="row row-cols-1 row-cols-md-3 g-4">
                            <div class="col">
                              <div class="card">
                                <img src="https://kanto.legiaodosherois.com.br/w1200-q95-k1/wp-content/uploads/2022/06/legiao_1qFLnw3kdQlH.jpg.webp" class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">Card title</h5>
                                  <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                </div>
                              </div>
                            </div>
                            <div class="col">
                              <div class="card">
                                <img src="https://kanto.legiaodosherois.com.br/w1200-q95-k1/wp-content/uploads/2022/06/legiao_1qFLnw3kdQlH.jpg.webp" class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">Card title</h5>
                                  <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                </div>
                              </div>
                            </div>
                            <div class="col">
                              <div class="card">
                                <img src="https://kanto.legiaodosherois.com.br/w1200-q95-k1/wp-content/uploads/2022/06/legiao_1qFLnw3kdQlH.jpg.webp" class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">Card title</h5>
                                  <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
                                </div>
                              </div>
                            </div>
                          </div>
                      </div>
                      <div class="carousel-item" data-bs-interval="2000">
                        <div class="row row-cols-1 row-cols-md-3 g-4">
                            <div class="col">
                              <div class="card">
                                <img src="https://kanto.legiaodosherois.com.br/w1200-q95-k1/wp-content/uploads/2022/06/legiao_1qFLnw3kdQlH.jpg.webp" class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">Card title</h5>
                                  <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                </div>
                              </div>
                            </div>
                            <div class="col">
                              <div class="card">
                                <img src="https://kanto.legiaodosherois.com.br/w1200-q95-k1/wp-content/uploads/2022/06/legiao_1qFLnw3kdQlH.jpg.webp" class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">Card title</h5>
                                  <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                </div>
                              </div>
                            </div>
                            <div class="col">
                              <div class="card">
                                <img src="https://kanto.legiaodosherois.com.br/w1200-q95-k1/wp-content/uploads/2022/06/legiao_1qFLnw3kdQlH.jpg.webp" class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">Card title</h5>
                                  <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
                                </div>
                              </div>
                            </div>
                          </div>
                      </div>
                      <div class="carousel-item">
                        <div class="row row-cols-1 row-cols-md-3 g-4">
                            <div class="col">
                              <div class="card">
                                <img src="https://kanto.legiaodosherois.com.br/w1200-q95-k1/wp-content/uploads/2022/06/legiao_1qFLnw3kdQlH.jpg.webp" class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">Card title</h5>
                                  <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                </div>
                              </div>
                            </div>
                            <div class="col">
                              <div class="card">
                                <img src="https://kanto.legiaodosherois.com.br/w1200-q95-k1/wp-content/uploads/2022/06/legiao_1qFLnw3kdQlH.jpg.webp" class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">Card title</h5>
                                  <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                </div>
                              </div>
                            </div>
                            <div class="col">
                              <div class="card">
                                <img src="https://kanto.legiaodosherois.com.br/w1200-q95-k1/wp-content/uploads/2022/06/legiao_1qFLnw3kdQlH.jpg.webp" class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">Card title</h5>
                                  <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
                                </div>
                              </div>
                            </div>
                          </div>
                      </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselPortfolio" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselPortfolio" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div>

            </div>
        </section>

        <section id="contato" class="pt-5 pb-5" id="contato">

            <div class="container mb-5">
                <h2 class="pt-3 pb-3">Contato</h2>
                
                <div class="row">
                    <div class="col-md-5">
                        <div class="card p-5 shadow border-0">
                            <div class="endereco">
                                <h4><i class="bi bi-geo-alt"></i> Localização:</h4>
                                <p>Cidade-UF</p>
                            </div>

                            <div class="email">
                                <h4><i class="bi bi-envelope"></i> Email:</h4>
                                <p>email@email.com</p>
                            </div>
                        </div>                        
                    </div>

                    <div class="col-md-7">

                    </div>
                </div>
            </div>
        </section>

    </main>
    
    <script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../static/script.js"></script>
</body>
</html>